[submodule "libs/awgraphics"]
	path = libs/awgraphics
	url = https://github.com/amulware/awgraphics
[submodule "libs/Cireon.Audio"]
	path = libs/Cireon.Audio
	url = https://github.com/Chiel92/Cireon.Audio
